<div id="<%= dom_id %>" class="py-2 pl-4 border-l-2 border-amber-700 my-2">
  <p class="text-xs uppercase tracking-widest text-amber-700">You</p>
  <p class="mt-1 text-slate-300 italic"><%= text %></p>
  <p class="mt-1 text-xs text-slate-600"><%= relative_time %></p>
</div>
